*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    min-height: 100vh;       /* Makes the body the full height of the screen */
    background-color: #f0f0f0; /* Optional: background for the page */
}

#mainContainer {
    background-color: #9BBDF9;
    width: 75%;
    padding: 2rem;           
    border-radius: 20px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

input {
    width: 100%;
    height: 30px;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button{
    width: 30px;
    height: 30px;
}